body{
    background-color: #EEF9BF;
    justify-content: center;
}
.titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;    
    color: #75B79E;
    text-align: center;
    margin: 45px auto 45px auto;
    height: 63px;
}
.table{
    margin-left: 122px;
    margin-right: 112px;    
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin-right: 34px;
    margin-bottom: 34px;
}
.card img {
    width: 100px;
    height: 100px;
    background: url(Arquivos/back.png);
    background-size: 100px;
    margin: 24px 10px 22px 7px;
}
