body{
    background-color: #EEF9BF;
    justify-content: center;
}
.titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;    
    color: #75B79E;
    text-align: center;
    margin: 45px auto 45px auto;
    height: 63px;
}
.titulo_mobile{
    width: 312px;
    height: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.004em;
    color: #75B79E;
    display: none;
    margin: 40px auto 40px auto;
}
.table{
    margin-left: 122px;
    margin-right: 112px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    width: 117px;
    height: 146px;
    position: relative;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}
.face{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidde
    transition: all .5s;
    transform-style: preserve-3d;
}
.card img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 24px;
    left: 10px;
}
.card:hover{
    transition: rotationy(180deg)
}
.card:hover .back {
    transform: rotateY(0deg);
}
.card:hover .front{
    transform: rotateY(-180deg);
  }

.back{
    transform: rotateY(180deg);
    
}
.flip{
    display: none;
}
.selecionado{}
.certo{}

@media( max-width: 614px){
    .titulo_mobile{
        display: flex;
    }
    .titulo{
        display: none;
    }
    .table{
        justify-content: center;
        margin-left: 115px;
        display: flex;
        flex-direction: column;
    }
}